In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np

dataset_list = pd.read_csv('/datasets/datasets.csv')
path = '/datasets/' + dataset_list['file'][36]
car_data = pd.read_csv(path)

#print(car_data.shape)

#print(car_data.columns)

#print(car_data.info())

#print(car_data.isna().sum())

#print(car_data.duplicated().sum())

car_data = car_data.drop_duplicates()

#print(car_data.duplicated().sum())

#print(car_data.dtypes)

#numbers = car_data.select_dtypes(include='number')
#objects = car_data.select_dtypes(include='object')

#print(numbers.dtypes)
#print(objects.dtypes)

date_cols = ['DateCrawled', 'DateCreated', 'LastSeen']
for cols in date_cols:
    car_data[cols] = pd.to_datetime(car_data[cols])


#car_data.info()

#car_data['PostalCode'] = car_data['PostalCode'].astype('object')

#car_data.info()

#car_data.isna().sum()


#car_data['Price'].describe()

car_data = car_data[car_data['Price'] != 0]

#car_data['Price'].describe()

#car_data['Price'].sort_values().unique()[:100]

#car_data100 = car_data[car_data['Price'] <= 100]

#print(car_data100.head(20))
#car_data['Price'].describe()

lower_bound = car_data['Price'].quantile(.20)
car_data = car_data[car_data['Price'] >= lower_bound]
#car_data['Price'].describe()

#higher_bound = car_data['Price'].quantile(.75)

#upper_bound = car_data[car_data['Price'] >= higher_bound]

#print(upper_bound['Price'].sort_values())
#twenty = car_data[car_data['Price'] == 20000]
#twenty.shape
#upper_bound.shape

#np.sort(car_data['Price'].unique())[::-1][:200]

#plt.boxplot(car_data['Price'])
#plt.xlabel('Price')
#plt.title('Boxplot Of Car Prices')
#plt.show()
print(car_data.info())
car_data.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 275366 entries, 1 to 354368
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   DateCrawled        275366 non-null  datetime64[ns]
 1   Price              275366 non-null  int64
 2   VehicleType        254562 non-null  object
 3   RegistrationYear   275366 non-null  int64
 4   Gearbox            264939 non-null  object
 5   Power              275366 non-null  int64
 6   Model              263687 non-null  object
 7   Mileage            275366 non-null  int64
 8   RegistrationMonth  275366 non-null  int64
 9   FuelType           257553 non-null  object
 10  Brand              275366 non-null  object
 11  NotRepaired        232536 non-null  object
 12  DateCreated        275366 non-null  datetime64[ns]
 13  NumberOfPictures   275366 non-null  int64
 14  PostalCode         275366 non-null  int64
 15  LastSeen           275366 non-null  datetime64[ns]
dtypes: datetime64[ns](3), int64(7), object(6)
memory usage: 35.7+ MB
None

,Price,RegistrationYear,Power,Mileage,RegistrationMonth,NumberOfPictures,PostalCode
count,275366.000000,275366.000000,275366.000000,275366.000000,275366.000000,275366.0,275366.000000
mean,5543.223172,2004.679488,120.694084,126149.815155,6.009289,0.0,51255.755711
std,4524.449023,59.283636,191.418347,38125.524627,3.606601,0.0,25687.054184
min,990.000000,1000.000000,0.000000,5000.000000,0.000000,0.0,1067.000000
25%,2000.000000,2000.000000,75.000000,100000.000000,3.000000,0.0,30952.000000
50%,3950.000000,2004.000000,115.000000,150000.000000,6.000000,0.0,50259.000000
75%,7800.000000,2008.000000,150.000000,150000.000000,9.000000,0.0,72070.000000
max,20000.000000,9999.000000,20000.000000,150000.000000,12.000000,0.0,99998.000000

In [2]:
#EDA
print(car_data.head())

car_data.corr()

          DateCrawled  Price  VehicleType  RegistrationYear Gearbox  Power  \
1 2016-03-24 10:58:00  18300        coupe              2011  manual    190
2 2016-03-14 12:52:00   9800          suv              2004    auto    163
3 2016-03-17 16:54:00   1500        small              2001  manual     75
4 2016-03-31 17:25:00   3600        small              2008  manual     69
6 2016-01-04 20:48:00   2200  convertible              2004  manual    109

     Model  Mileage  RegistrationMonth  FuelType       Brand NotRepaired  \
1      NaN   125000                  5  gasoline        audi         yes
2    grand   125000                  8  gasoline        jeep         NaN
3     golf   150000                  6    petrol  volkswagen          no
4    fabia    90000                  7  gasoline       skoda          no
6  2_reihe   150000                  8    petrol     peugeot          no

  DateCreated  NumberOfPictures  PostalCode            LastSeen
1  2016-03-24                 0       66954 2016-07-04 01:46:00
2  2016-03-14                 0       90480 2016-05-04 12:47:00
3  2016-03-17                 0       91074 2016-03-17 17:40:00
4  2016-03-31                 0       60437 2016-06-04 10:17:00
6  2016-01-04                 0       67112 2016-05-04 18:18:00

,Price,RegistrationYear,Power,Mileage,RegistrationMonth,NumberOfPictures,PostalCode
Price,1.000000,0.045043,0.139749,-0.367530,0.051321,NaN,0.064388
RegistrationYear,0.045043,1.000000,-0.002144,-0.055794,-0.012155,NaN,-0.001322
Power,0.139749,-0.002144,1.000000,0.034390,0.021396,NaN,0.017590
Mileage,-0.367530,-0.055794,0.034390,1.000000,-0.001781,NaN,-0.010211
RegistrationMonth,0.051321,-0.012155,0.021396,-0.001781,1.000000,NaN,0.005970
NumberOfPictures,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PostalCode,0.064388,-0.001322,0.017590,-0.010211,0.005970,NaN,1.000000

In [3]:
print(car_data.head(5))

bins = [0, 25_000, 50_000, 75_000, 100_000, 150_000]
labels = [
    '0-25k',
    '25-50k',
    '50-75k',
    '75-100k',
    '100-150k',
]

car_data['Mileage_bin'] = pd.cut(
    car_data['Mileage'],
    bins=bins,
    labels=labels,
    include_lowest=True
)

price_by_mileage = (
    car_data
    .groupby('Mileage_bin')['Price']
    .agg(['count', 'mean', 'median'])
)

#print(price_by_mileage)

#No Values Over 150k
#Value Goes Up As Mileage Goes Down
#Except Between 0-25k, Value Actually Takes A Drop From 9847 To 8342

insights25k = car_data[car_data['Mileage_bin'] == '0-25k']
                        

#print(insights_25k.shape)

#print(insights_25k['Price'].describe())

#insights_25k.corr()

threshold = insights25k['Price'].quantile(.25)
bottom25 = insights25k[insights25k['Price'] <= threshold]

print(bottom25.describe())

print(bottom25['Power'].unique())

toptiercars = bottom25[(bottom25['Power'] >= 800) & (bottom25['Power'] <= 1200)]
print(toptiercars[['Power', 'Brand', 'Model', 'Price']].sort_values(by='Power', ascending=False))

lowertiercars = car_data[(car_data['Power'] < 50) & (car_data['Power'] >= 40)]
print('Cars Between 40 & 50 HP')
print(lowertiercars[['Power', 'Brand', 'Model', 'RegistrationYear']])

car_data = car_data[(car_data['Power'] <= 800) & (car_data['Power'] >= 50)]

print(price_by_mileage)

          DateCrawled  Price  VehicleType  RegistrationYear Gearbox  Power  \
1 2016-03-24 10:58:00  18300        coupe              2011  manual    190
2 2016-03-14 12:52:00   9800          suv              2004    auto    163
3 2016-03-17 16:54:00   1500        small              2001  manual     75
4 2016-03-31 17:25:00   3600        small              2008  manual     69
6 2016-01-04 20:48:00   2200  convertible              2004  manual    109

     Model  Mileage  RegistrationMonth  FuelType       Brand NotRepaired  \
1      NaN   125000                  5  gasoline        audi         yes
2    grand   125000                  8  gasoline        jeep         NaN
3     golf   150000                  6    petrol  volkswagen          no
4    fabia    90000                  7  gasoline       skoda          no
6  2_reihe   150000                  8    petrol     peugeot          no

  DateCreated  NumberOfPictures  PostalCode            LastSeen
1  2016-03-24                 0       66954 2016-07-04 01:46:00
2  2016-03-14                 0       90480 2016-05-04 12:47:00
3  2016-03-17                 0       91074 2016-03-17 17:40:00
4  2016-03-31                 0       60437 2016-06-04 10:17:00
6  2016-01-04                 0       67112 2016-05-04 18:18:00
             Price  RegistrationYear         Power       Mileage  \
count  1850.000000       1850.000000   1850.000000   1850.000000
mean   1699.290811       2024.790270     97.388108   8621.621622
std     540.634040        410.212729    625.792338   6250.370898
min     990.000000       1000.000000      0.000000   5000.000000
25%    1250.000000       1997.000000      0.000000   5000.000000
50%    1590.000000       2000.000000     75.000000   5000.000000
75%    2100.000000       2004.000000    115.000000  10000.000000
max    2800.000000       9999.000000  17410.000000  20000.000000

       RegistrationMonth  NumberOfPictures    PostalCode
count        1850.000000            1850.0   1850.000000
mean            4.215676               0.0  45800.362162
std             4.000334               0.0  24777.571243
min             0.000000               0.0   1069.000000
25%             0.000000               0.0  26603.000000
50%             3.500000               0.0  45660.000000
75%             7.000000               0.0  63779.250000
max            12.000000               0.0  99976.000000
[   50    55     0   122   101   115   135    75   105   144    90    96
   125   160    60   150    67    45   170   107   116   102    84    65
    26   138   212    80    74   110    86   118   143    77    97   192
   136   120   140    21    64   131    24   230   141    54   113   146
     5   197    41    47    58    43    16    39    95   114    68   179
   126    20    69   147   109     6     1    12   204   218   240    15
    62   200   176   193    44   124   165   139   152    83    82    76
    57    61  1202    19   215   184    98    78   127    40   203   129
    59   177   100   211    89    66    35    30    70    23    79   106
     4   174   134   190    81   163    18   145   326 17410   108   155
   175    72   149   210     3     2    48    92    88   137    85   220
    17    14 17019  1800   205   279   103   130  1000   224   387    73
   128    34    71    29    13   362   157     7  1595   180    51 10910
    28   420    94   400    22   148   225    93  1100    52    91  1998
    63   121    53     9    31   216  1001]
        Power       Brand   Model  Price
306974   1100        opel  zafira   1000
351947   1001        opel  zafira   1500
209422   1000  volkswagen    lupo    990
Cars Between 40 & 50 HP
        Power       Brand        Model  RegistrationYear
193        45  volkswagen          NaN              1990
208        41       smart       fortwo              2001
212        45  volkswagen         lupo              2002
232        41      suzuki        other              1982
322        41       smart       fortwo              2006
...       ...         ...          ...               ...
353294     41       smart          NaN              2005
353887     45        opel        corsa              1995
353906     45  volkswagen  transporter              1989
353992     41       smart       fortwo              2001
354316     40     trabant        other              1957

[1553 rows x 4 columns]
              count         mean  median
Mileage_bin
0-25k          7366  8342.420310    7589
25-50k        14722  9847.201263    9000
50-75k        15087  8705.745079    7800
75-100k       32394  7281.580077    6000
100-150k     205797  4629.665865    3200

In [4]:
car_data.describe()

#Replace 'Power' Column To 'PowerHP'
#Replace 'RegistrationYear' To 'YearOfModel'
car_data = car_data.rename(columns={
    'RegistrationYear': 'YearOfModel',
    'Power': 'PowerHP'
})

car_data.columns

car_data = car_data[(car_data['YearOfModel'] <= 2026) & (car_data['YearOfModel'] >= 1950 )]

car_data = car_data[car_data['RegistrationMonth'] != 0 ]

lowerhp = car_data[(car_data['PowerHP'] >= 50) & (car_data['PowerHP'] <= 150)]

car_data = car_data.drop(columns=['NumberOfPictures'])

print(lowerhp[['Brand', 'Model', 'PowerHP', 'YearOfModel']].sort_values(by='PowerHP', ascending=True))

print(car_data.describe())

             Brand   Model  PowerHP  YearOfModel
113602       smart  fortwo       50         2006
133282  volkswagen    polo       50         2000
55652   volkswagen    lupo       50         2002
332153  volkswagen    lupo       50         2001
175906  volkswagen    lupo       50         1999
...            ...     ...      ...          ...
25982          bmw     3er      150         2004
202401         bmw     3er      150         2000
202420  volkswagen  passat      150         2005
202574         bmw     3er      150         2007
137646         bmw     3er      150         2002

[179807 rows x 4 columns]
               Price    YearOfModel        PowerHP        Mileage  \
count  239117.000000  239117.000000  239117.000000  239117.000000
mean     5819.812887    2004.322624     128.449976  125842.976451
std      4607.499444       6.360336      54.041177   37750.771957
min       990.000000    1950.000000      50.000000    5000.000000
25%      2200.000000    2001.000000      90.000000  100000.000000
50%      4250.000000    2005.000000     120.000000  150000.000000
75%      8159.000000    2008.000000     150.000000  150000.000000
max     20000.000000    2019.000000     800.000000  150000.000000

       RegistrationMonth     PostalCode
count      239117.000000  239117.000000
mean            6.415111   51750.948481
std             3.346381   25683.905051
min             1.000000    1067.000000
25%             4.000000   31303.000000
50%             6.000000   51061.000000
75%             9.000000   72469.000000
max            12.000000   99998.000000

In [5]:
print(price_by_mileage)

              count         mean  median
Mileage_bin
0-25k          7366  8342.420310    7589
25-50k        14722  9847.201263    9000
50-75k        15087  8705.745079    7800
75-100k       32394  7281.580077    6000
100-150k     205797  4629.665865    3200

In [6]:
print(car_data.head(1))

car_data = car_data[car_data['PostalCode'].between(10_001, 99_950)]

print(car_data.describe())

print(price_by_mileage)

          DateCrawled  Price VehicleType  YearOfModel Gearbox  PowerHP Model  \
1 2016-03-24 10:58:00  18300       coupe         2011  manual      190   NaN

   Mileage  RegistrationMonth  FuelType Brand NotRepaired DateCreated  \
1   125000                  5  gasoline  audi         yes  2016-03-24

   PostalCode            LastSeen Mileage_bin
1       66954 2016-07-04 01:46:00    100-150k
               Price    YearOfModel        PowerHP        Mileage  \
count  228225.000000  228225.000000  228225.000000  228225.000000
mean     5839.680368    2004.343104     128.588603  125876.612992
std      4617.973637       6.347450      54.163156   37756.681088
min       990.000000    1950.000000      50.000000    5000.000000
25%      2200.000000    2001.000000      90.000000  100000.000000
50%      4250.000000    2005.000000     120.000000  150000.000000
75%      8200.000000    2008.000000     150.000000  150000.000000
max     20000.000000    2019.000000     800.000000  150000.000000

       RegistrationMonth     PostalCode
count      228225.000000  228225.000000
mean            6.416326   53889.153660
std             3.347085   24154.151995
min             1.000000   10115.000000
25%             4.000000   33699.000000
50%             6.000000   52372.000000
75%             9.000000   73275.000000
max            12.000000   99947.000000
              count         mean  median
Mileage_bin
0-25k          7366  8342.420310    7589
25-50k        14722  9847.201263    9000
50-75k        15087  8705.745079    7800
75-100k       32394  7281.580077    6000
100-150k     205797  4629.665865    3200

In [8]:
#VehicleType, Brand, Gearbox, NotRepaired, FuelType
print('Vehicle Type Categories')
print(car_data['VehicleType'].unique())

print('Brand Categories')
print(car_data['Brand'].unique())

print('Gearbox Categories')
print(car_data['Gearbox'].unique())

print('Not Repaired Categories')
print(car_data['NotRepaired'].unique())

print('Fuel Type Categories')
print(car_data['FuelType'].unique())

print(car_data['Brand'].value_counts(dropna=False).get('sonstige_autos', 0))
sonstige_autos = car_data.query("Brand == 'sonstige_autos'")
print(sonstige_autos.head(5))
print(sonstige_autos['Model'].isnull().sum())
car_data = car_data.query("Brand != 'sonstige_autos'")
print(car_data['Brand'].value_counts())

Vehicle Type Categories
['coupe' 'suv' 'small' 'convertible' 'bus' 'sedan' 'wagon' nan 'other']
Brand Categories
['audi' 'jeep' 'volkswagen' 'skoda' 'peugeot' 'ford' 'mazda' 'renault'
 'mercedes_benz' 'bmw' 'opel' 'citroen' 'honda' 'mini' 'smart' 'fiat'
 'hyundai' 'seat' 'nissan' 'subaru' 'volvo' 'mitsubishi' 'alfa_romeo'
 'kia' 'lancia' 'chevrolet' 'dacia' 'suzuki' 'daihatsu' 'toyota'
 'chrysler' 'sonstige_autos' 'jaguar' 'rover' 'saab' 'daewoo' 'porsche'
 'land_rover' 'lada' 'trabant']
Gearbox Categories
['manual' 'auto' nan]
Not Repaired Categories
['yes' nan 'no']
Fuel Type Categories
['gasoline' 'petrol' nan 'lpg' 'other' 'hybrid' 'cng' 'electric']
1317
             DateCrawled  Price  VehicleType  YearOfModel Gearbox  PowerHP  \
661  2016-01-04 15:56:00   9900          suv         2000    auto      250
700  2016-03-30 21:37:00   6999        sedan         2010    auto      186
1106 2016-03-22 11:38:00   9200        sedan         2005    auto      249
1274 2016-03-24 15:38:00  16990        small         2015  manual      135
1405 2016-03-28 15:37:00   3999  convertible         1999  manual      120

     Model  Mileage  RegistrationMonth FuelType           Brand NotRepaired  \
661    NaN   150000                  4      lpg  sonstige_autos          no
700    NaN   125000                  4   petrol  sonstige_autos          no
1106   NaN   150000                 10   petrol  sonstige_autos          no
1274   NaN    20000                  5   petrol  sonstige_autos          no
1405   NaN   125000                  9   petrol  sonstige_autos          no

     DateCreated  PostalCode            LastSeen Mileage_bin
661   2016-01-04       17309 2016-07-04 14:56:00    100-150k
700   2016-03-30       81929 2016-05-04 11:18:00    100-150k
1106  2016-03-22       95447 2016-05-04 23:16:00    100-150k
1274  2016-03-24       74199 2016-07-04 07:16:00       0-25k
1405  2016-03-28       16567 2016-06-04 20:15:00    100-150k
1317
volkswagen       48791
bmw              27927
mercedes_benz    24371
audi             21565
opel             21490
ford             13994
renault           9006
peugeot           7113
fiat              5056
seat              4458
skoda             4250
toyota            3563
mazda             3506
smart             3352
citroen           3222
mini              2911
nissan            2862
hyundai           2660
volvo             2111
kia               1766
honda             1698
mitsubishi        1576
alfa_romeo        1520
suzuki            1469
chevrolet         1272
chrysler           897
dacia              752
porsche            585
jeep               525
land_rover         439
jaguar             414
subaru             386
saab               356
daihatsu           323
lancia             220
daewoo             206
rover              179
lada               113
trabant              4
Name: Brand, dtype: int64

In [21]:
car_data['Model'].isnull().sum()
ModelNull = car_data['Model'].isnull()
ModelNan = car_data.query("Model.isna()")
print(ModelNan.shape)
print(ModelNan['Brand'].value_counts())
car_data.corr()

(5427, 16)
volkswagen       1132
bmw               817
opel              528
mercedes_benz     505
audi              498
peugeot           288
ford              251
renault           201
fiat              128
mazda             105
hyundai            84
smart              80
toyota             73
citroen            71
seat               59
nissan             58
honda              54
kia                52
skoda              50
mitsubishi         49
chevrolet          49
alfa_romeo         43
mini               38
suzuki             35
chrysler           33
volvo              32
rover              18
jeep               15
dacia              12
daewoo             11
porsche            10
lancia             10
land_rover          9
daihatsu            8
jaguar              6
saab                5
subaru              5
trabant             3
lada                2
Name: Brand, dtype: int64

,Price,YearOfModel,PowerHP,Mileage,RegistrationMonth,PostalCode
Price,1.000000,0.435959,0.465728,-0.390390,0.004223,0.054759
YearOfModel,0.435959,1.000000,0.018359,-0.327647,-0.003835,0.002677
PowerHP,0.465728,0.018359,1.000000,0.157989,0.019500,0.043749
Mileage,-0.390390,-0.327647,0.157989,1.000000,0.009897,-0.012136
RegistrationMonth,0.004223,-0.003835,0.019500,0.009897,1.000000,-0.007967
PostalCode,0.054759,0.002677,0.043749,-0.012136,-0.007967,1.000000

In [95]:
ModelGroup = car_data.groupby(['Brand', 'Model']).size().idxmax()
print(ModelGroup)

#Brand Is Volkswagen
#Model Is golf, Except When It's Not

volkswagen = car_data.query("Brand == 'volkswagen'").copy()
dup_cols = ['Price', 'YearOfModel', 'PostalCode', 'PowerHP', 'VehicleType', 'FuelType', 'Gearbox', 'Mileage']
dupes = volkswagen[volkswagen.duplicated(subset=dup_cols, keep=False)].copy()
pick = ['DateCrawled', 'RegistrationMonth', 'DateCreated', 'LastSeen']
dupes = volkswagen.drop(columns=pick)

count = volkswagen.groupby(dup_cols).size().sort_values(ascending=False)

#Looking For Set Of Rows That Are Identical Except For Having The 'Model' Column As NaN Or Missing
#After Searching Each Index. Was Not Able To Find Our Unique Sample.
topkey = count.index[26]
top_n = count.iloc[26]

print('Top Repeats', top_n)
print('Top Key', topkey)

top_rows = volkswagen.set_index(dup_cols).loc[[topkey]].reset_index()
print(top_rows[['Brand', 'Model'] + dup_cols])

print(count)

('volkswagen', 'golf')
Top Repeats 5
Top Key (16960, 2013, 67067, 122, 'suv', 'petrol', 'manual', 30000)
        Brand   Model  Price  YearOfModel  PostalCode  PowerHP VehicleType  \
0  volkswagen  tiguan  16960         2013       67067      122         suv
1  volkswagen  tiguan  16960         2013       67067      122         suv
2  volkswagen  tiguan  16960         2013       67067      122         suv
3  volkswagen  tiguan  16960         2013       67067      122         suv
4  volkswagen  tiguan  16960         2013       67067      122         suv

  FuelType Gearbox  Mileage
0   petrol  manual    30000
1   petrol  manual    30000
2   petrol  manual    30000
3   petrol  manual    30000
4   petrol  manual    30000
Price  YearOfModel  PostalCode  PowerHP  VehicleType  FuelType  Gearbox  Mileage
10100  2008         10115       239      suv          gasoline  auto     100000     27
10000  2011         10115       140      suv          gasoline  auto     100000     24
11000  2014         10115       185      sedan        gasoline  auto     20000      23
10500  2013         10115       140      bus          gasoline  auto     40000      23
10000  2014         10115       102      wagon        gasoline  auto     30000      23
                                                                                    ..
2900   2000         45473       102      sedan        petrol    manual   100000      1
                    45892       75       convertible  petrol    manual   150000      1
                    45894       105      wagon        petrol    manual   150000      1
                    49078       90       sedan        gasoline  manual   150000      1
20000  2015         58135       125      small        petrol    manual   20000       1
Length: 40322, dtype: int64